<div class="panel panel-default author-panel">
    <div class="panel-body">
        <h4 class="panel-title author-description-header">Описание</h4>
        <p>{{model.description}}</p>
    </div>



</div>