<div class="row list-wrapper">

    <ul class="list-group">

      {{#each model as |author|}}

          <li class="list-group-item"><em>{{author.name}}</em></li>

      {{/each}}

    </ul>

</div>
