
<div class="col-md-4">
    <div class="list-group">
        <div class="list-group-item">
          {{input type="text" class="new-author" placeholder="Автор (латыницей)" value=name}}
            <button class="btn btn-primary btn-sm new-author-button" {{action "createAuthor"}}>Добавить</button>
        </div>
      {{#each model as |author|}}
        {{#link-to "authors.author.books" author class="list-group-item author-link"}}
          {{author.name}}
            <span class="pointer glyphicon glyphicon-chevron-right"></span>
        {{/link-to}}
      {{/each}}
    </div>
</div>

<div class="col-md-8">
    <div class="list-group">
      {{outlet}}
    </div>
</div>